body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media only screen and (max-width: 374px) {
  html {
    font-size: 50px;
  }
}
@media only screen and (min-width: 375px) and (max-width: 413px) {
  html {
    font-size: 55px;
  }
}

@media only screen and (min-width: 414px) and (max-width: 713px) {
  html {
    font-size: 65px;
  }
}

@media only screen and (min-width: 714px) and (max-width: 900px) {
  html {
    font-size: 90px;
  }
}
@media only screen and (min-width: 901px) and (max-width: 1200px) {
  html {
    font-size: 130px;
  }
}
@media only screen and (min-width: 1201px) {
  html {
    font-size: 170px;
  }
}
